@font-face {
    font-family: 'pokemon_gbregular';
    src: url('pokemon_gb-webfont.woff2') format('woff2'),
         url('pokemon_gb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 60px auto;
    width: 70%;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
nav{
    background-color: #e60000;
    border-bottom: 10px solid black;
    border-radius: 25px 25px  0 0 ;
    width: 100%;
    padding: 25px;
    margin: 0px;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li{
    display: inline;
    margin-right: 20px;
}
nav a{
    font-family:'pokemon_gbregular', 'Arial', 'Sans-Serif';
}
a {
    text-decoration:underline;
    color: black;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
a:hover {
    text-decoration: underline;
    color: #999;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
a.PostsLink{
    font-family:'pokemon_gbregular', 'Arial', 'Sans-Serif';
}
h1 {
    font-size: 3em;
    font-family:'pokemon_gbregular', 'Arial', 'Sans-Serif';
    padding:0.5em;
}
h2 {
    font-size: 2.5em;
    font-family:'pokemon_gbregular', 'Arial', 'Sans-Serif';
}
h3 {
    font-size: 2em;
    font-family:'pokemon_gbregular', 'Arial', 'Sans-Serif';
}
h4 {
    font-size: 1.7em;
    font-family:'pokemon_gbregular', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p.meta{
  font-family:'pokemon_gbregular', 'Arial', 'Sans-Serif';
}
ul.posts {
    margin: 20px auto 40px;
}

ul.posts li {
    list-style: none;
    line-height: 1.5em;
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-family:'pokemon_gbregular', 'Arial', 'Sans-Serif';
}

.highlight {
  font-size: 1.5em;
  line-height: 1.4em;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
.posts {
  border-radius: 2px;
  padding: 8px;
  line-height: 16px;
  margin: auto;
  border: 1px solid white;
  box-shadow: 0 1px 0 1px black,
              inset 0 1px 0 1px black,
              0 0 0 1px black,
              inset 0 0 0 1px black;
}